{% if item.isVisible and item.isEnabled %}
<div class="store-item card">
    <a class="store-item" href="{{ url("app_commerce_package", {pid: item.getId()}) }}">
        <div class="card-body">
            <div class="card-img">
                <img class="short-img" width="125px" height="125px" src="{{ asset( "build/images/__commerce#{item.getImageURI()}" ) }}" alt="Group {{ item.getName() }}" />
            </div>
            <div class="card-title">
                {{ item.getName() }}
            </div>
            <div class="card-text">
                {{ item.getLowestPriceString() }}
            </div>
        </div>
    </a>
</div>
{% endif %}