{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/commerce/checkout.scss') }}">
{% endblock %}


{% block body %}

    <div class="store container content-container p-0">

        <section class="content-header">
            Checkout
        </section>

        <section class="content-body">
            <div class="panel-body">
                <div class="card">
                    <div><img src="{{ asset( "build/images/__commerce#{invoice.commercePackage.getImageURI()}" ) }}" /></div>
                    <div>{{ invoice.commercePackage.name }} - {{ invoice.durationDateInterval.days }} Days</div>
                    <div>{{ invoice.price }} {{ currency }}</div>
                </div>
                {{ form_start(form) }}

                    {{ form_widget(form.commerceGatewayInstance) }}

                {{ form_end(form) }}

            </div>
        </section>

    </div>

{% endblock %}